html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #000434;
}

.button {
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    line-height: 85px;
    color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    width: 250px;
    height: 85px;
    background: linear-gradient(#1d7751, #0e382c);
    border: 3px #25793b solid;
    border-radius: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    transition: .1s;
    transform: scale(1);
    cursor: pointer;
    -webkit-user-select: none;
    box-shadow: 0 0 50px rgba(0, 117, 9, 0.5);
    overflow: hidden;
}

.button:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.button:active {
    background: linear-gradient(#1f8258, #114435);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: scale(1);
    box-shadow: 0 0 75px rgba(43, 137, 68, 0.5);
}

.button:after {
    content: "";
    position: relative;
    top: -120px;
    left: -90px;
    display: block;
    width: 35px;
    height: 150px;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(35deg);
    -webkit-filter: blur(20px);
    transition: none;
}

.button:hover:after {
    left: 400px;
    transition: .3s ease-in-out;
}

#container {
    width: 800px;
    height: 240px;
    border: 2px solid #0317fc;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 80px;
}

.slider-wrapper {
    width: 400000px;
    height: 240px;
    background: black;

    display: inline-block;
    position: relative;
    right: 0px;
}

.swiper-slide {
    width: 200px;
    height: 100%;
    margin-top: 20px;
    display: inline-block;
    margin-left: 20px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
}

.swiper-slides {
    width: 200px;
    height: 85%;
    margin-top: 20px;
    display: inline-block;
    margin-left: 20px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
    border: 1px solid #000;
}

.card {
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    margin-top: 0;
}

.Icon1 {
    width: 75%;
    margin-inline: 30px;
}

.Icon2 {
    width: 75%;
    margin-top: 18px;
    margin-inline: 30px;
}

.middle {
    width: 2px;
    height: 240px;
    background: rgb(155, 96, 2);
    position: absolute;
    top: 290px;
    margin-left: 400px;
    box-shadow: 0px 0px 20px 2px black;
}

span {
    width: 300px;
    height: 40%;
    text-align: center;
    line-height: 70px;
    color: white;
    margin: 100px;
    display: inline-block;
    margin-left: -50px;
    background: blue;

}

.overlay {
    width: 100%;
    height: 200px;
    background: black;
    display: block;
}

.layout {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 100px;
}

.layoutIn {
    margin: 0 auto;
    height: 200px;
    margin-inline: 28%;
}

.gold {
    background: gold;
}

.red {
    background: red;
}

.dark-purple {
    background: rgb(0, 205, 24)
}

.purple {
    background: rgb(0, 200, 255)
}

.blue {
    background: blue;
}

a {
    color: #EEEEEE;
    font-size: 40px;
}

.block {
    font-family: 'Rajdhani', sans-serif;
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
}

.coin:hover {
    cursor: pointer;
}

.coin {
    font-family: var(--font-sans);
    text-align: center;
    background: none;
    border: none;
}

.tags {
    text-decoration: none
}

/* neon */

.sign {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sign b {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    -webkit-animation: neon 0.08s ease-in-out infinite alternate;
    animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000758;
    border-bottom: 1px solid #0317fc;
}

.title {
    font-family: 'Mochiy Pop One';
    font-size: 60px;
    color: #fff;
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
    padding-top: 60px;
}

.subtitle {
    display: none;
    text-align: center;
    color: red;
    font-family: 'Rajdhani', sans-serif;
    padding-top: 2px;
}

.money-btn {
    display: block;
}

.opener {
    display: none;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #0317fc;
    margin-top: 20%;
}

.power {
    text-align: center;
    font-family: 'Mochiy Pop One';
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: #0362fc 10px 0 20px;
    padding-block: 20px;
}

/* ///////////////////////////////////////////// */

.return {
    margin-inline: 2%;
    height: 240px;
}

.btnTrue {
    transform: translateX(-40px);
}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    padding-left: 5%;
    background: rgb(79, 50, 208);
    background: -moz-linear-gradient(90deg, rgba(79, 50, 208, 1) 0%, rgba(29, 207, 253, 1) 16%, rgba(27, 191, 248, 1) 33%, rgba(57, 127, 224, 1) 49%, rgba(69, 103, 252, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(79, 50, 208, 1) 0%, rgba(29, 207, 253, 1) 16%, rgba(27, 191, 248, 1) 33%, rgba(57, 127, 224, 1) 49%, rgba(69, 103, 252, 1) 100%);
    background: linear-gradient(90deg, rgba(79, 50, 208, 1) 0%, rgba(29, 207, 253, 1) 16%, rgba(27, 191, 248, 1) 33%, rgba(57, 127, 224, 1) 49%, rgba(69, 103, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f32d0", endColorstr="#4567fc", GradientType=1);
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: black;
}

.modal-window>div {
    border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

.price-block {
    font-family: 'Mochiy Pop One';
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

/* BTN */

.btnBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16%;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


.btnClick {
    background: linear-gradient(0deg, rgb(51, 0, 255) 0%, rgba(251, 75, 2, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btnClick span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btnClick:before,
.btnClick:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btnClick:before {
    height: 0%;
    width: 2px;
}

.btnClick:after {
    width: 0%;
    height: 2px;
}

.btnClick:hover {
    color: #fff;
    background: transparent;
}

.btnClick:hover:before {
    height: 100%;
}

.btnClick:hover:after {
    width: 100%;
}

.btnClick span:before,
.btnClick span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btnClick span:before {
    width: 2px;
    height: 0%;
}

.btnClick span:after {
    height: 2px;
    width: 0%;
}

.btnClick span:hover:before {
    height: 100%;
}

.btnClick span:hover:after {
    width: 100%;
}

.winner {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    text-align: center;
    transform: translateX(-30px);
    color: #fff;
    text-align: center;
    text-shadow: #0317fc 5px 5px 5px;
}